.mapContainer {
  width: 100%;
  min-height: 600px;
}

.map {
  width: 100%;
  position: relative;
  z-index: 10;
}
.customTooltip {
  font-size: var(--spacing-small);
  font-weight: bold;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-small);
  padding: 4px 8px;
  color: #333;
}
