.mapContainer {
  width: 100%;
  min-height: 600px;
}

.map {
  width: 100%;
  position: relative;
}
.customTooltip {
  font-size: 1rem; /* Adjust font size */
  font-weight: bold; /* Optional: Make the text bold */
  background-color: white; /* Optional: Ensure background is white */
  border: 1px solid #ccc; /* Optional: Add a border */
  border-radius: 4px; /* Optional: Add rounded corners */
  padding: 4px 8px; /* Optional: Adjust padding */
  color: #333; /* Optional: Change text color */
}