.button {
  padding: 1.5rem 6rem;
  border: none;
  border-radius: var(--border-radius-small);
  border: 2px solid var(--color-red);
  background: var(--color-white);
  color: var(--color-primary);
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: bold;
  width: max-content;
  justify-self: end;
}

.button:hover {
  background-color: var(--color-red-hover);
  border-color: var(--color-red-hover);
  color: var(--color-white);
}
