.sliderInput {
  -webkit-appearance: none;
  padding: 10px;
  border-radius: var(--border-radius-large);
  width: 100%;
  height: 8px;
  background-color: #f0f0f0;
}

.container {
  width: 100%;
  display: grid;
  grid-gap: 0.5rem;
  align-items: center;
}

.label {
  font-size: 1.4rem;
  font-weight: bold;
}

.requiredIndicator {
  color: var(--color-red);
  margin-left: 4px;
  font-size: 1rem;
}

.sliderInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  background: var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.sliderInput::-moz-range-thumb {
  width: 1.6rem;
  height: 1.6rem;
  background: var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ccc;
}

.sliderInput::-ms-thumb {
  width: 1.6rem;
  height: 1.6rem;
  background: var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ccc;
}
