.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-small);
  margin-bottom: var(--spacing-small);
  border-radius: var(--border-radius-small);
  background-color: var(--color-grey);
}

.task.completed {
  background-color: var(--color-grey);
}

.taskInfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}

.taskTitle {
  margin: 0 0 var(--spacing-small) 0;
}

.taskCategory {
  padding: 0.5rem var(--spacing-small);
  border-radius: var(--border-radius-small);
  color: var(--color-white);
  display: inline-block;
  margin-top: var(--spacing-small);
  width: max-content;
}

.work {
  background-color: var(--color-primary);
}

.personal {
  background-color: var(--color-red);
}

.other {
  background-color: var(--color-yellow);
}

.taskDetails {
  grid-column: 1/-1;
  width: 100%;
}

.taskDescription {
  color: var(--color-primary);
}
