.plants {
    padding: 2rem;
    background-color: #FDFDFD;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 80vh; 
    width: 100%;
    grid-area: 4 / 1 / 5 / -1;
  }
  
  .heading {
    margin: 0 0 1rem 0;
    font-size: 2rem;
    text-align: center;
    color: #333;
  }

  .h6 {
    margin: 0 0 2rem 0;
    color: #666;
    font-weight: normal;
    text-transform: uppercase;

  }