.buttonContainer {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  grid-gap: 2rem;
  align-items: end;
  margin-top: var(--spacing-medium);
  width: 100%;
}

@media (max-width: 768px) {
  .buttonContainer {
    grid-auto-flow: row;
    justify-content: center;
  }
}
