.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.section {
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
}

header {
  margin-bottom: var(--spacing-medium);
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: var(--spacing-medium);
  color: #333;
}

.actionIcons {
  grid-auto-flow: column;
  display: grid;
  gap: var(--spacing-small);
  align-items: center;
  width: max-content;
}

.editIcon {
  color: #4caf50;
  cursor: pointer;
  font-size: 1.8rem;
  transition: color 0.2s ease;
}

.editIcon:hover {
  color: #4caf50;
}

.deleteIcon {
  color: #d9534f;
  cursor: pointer;
  font-size: 1.8rem;
  transition: color 0.2s ease;
}

.deleteIcon:hover {
  color: #c9302c;
}

.buttonContainer {
  background-color: var(--color-white);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow);
  grid-column: 1/-1;
}
