.textInput {
  padding: 1rem;
  margin-right: 10px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-small);
  width: 100%;
  font-size: 1.4rem;
  font-family: Poppins;
  background-color: var(--color-form-field);
  transition: all 0.3s;
  box-shadow: var(--box-shadow-light);
  color: var(--color-text);
}

.container {
  display: grid;
  grid-gap: 0.5rem;
  align-content: start;
}

.label {
  font-size: 1.4rem;
  font-weight: bold;
}

.requiredIndicator {
  color: var(--color-red);
  margin-left: 4px;
  font-size: 1rem;
}

.textInput:focus {
  border-color: var(--color-primary);
  box-shadow: var(--box-shadow);
  outline: none;
}

.textInput[readonly] {
  background-color: var(--color-disabled);
  cursor: not-allowed;
  color: var(--color-white);
}
