.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  background-color: #f0f0f0;
}

.task.completed {
  background-color: #f0f0f0;
}

.taskInfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}

.taskTitle {
  margin: 0 0 1rem 0;
}

.taskCategory {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: white;
  display: inline-block;
  margin-top: 1rem; 
  width: max-content
}

.work {
  background-color: #4caf50;
}

.personal {
  background-color: #FC9E4F;
}

.other {
  background-color: #FC9E4F;
}

.taskDetails {
  grid-column: 1/2;
  width: 100%;
}

.taskDescription {
  color: #666;
}