.menuItem {
  margin-bottom: var(--spacing-small);
}

.menuLink {
  background-color: transparent;
  border: none;
  color: #fdfdfd;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0.5rem var(--spacing-small);
  border-radius: var(--border-radius-small);
  transition: background-color 0.3s;
}

.menuLink:hover {
  background-color: #575757;
  cursor: pointer;
}

.active {
  background-color: #575757;
}
