.weather {
  width: 100%;
  grid-column: 1/-1;
  border-radius: var(--border-radius-large);
  padding: var(--spacing-medium);
  background-color: #fdfdfd;
  box-shadow: var(--box-shadow);
  grid-area: 1 / 1 / 2 / 6;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
