.section {
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
}

header {
  margin-bottom: var(--spacing-medium);
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: var(--spacing-medium);
  color: #333;
}

.buttonContainer {
  background-color: var(--color-white);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow);
  grid-column: 1/-1;
}
