.container {
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 2rem;
  grid-gap: var(--spacing-small);
  background-color: var(--color-white);
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow);
  padding: 2rem;
}

.subContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 1rem;
}
