.headerContent {
  display: inline-flex;
  align-items: center;
  gap: .4rem;
  white-space: nowrap; 
}

.table {
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
  background: #fdfdfd;
  width: max-content;
  table-layout: auto; 
  border-collapse: collapse;
  min-width: 100%;
}

.table th,
.table td {
  white-space: nowrap;
  width: max-content;
  border: 1px solid #ddd;
  padding: .8rem 3.2rem .8rem .8rem;
  text-align: left;
  font-size: 1.5rem;
}

.table th {
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.table th {
  background-color: #4caf50;
  color: #fdfdfd;
}

.sortIndicator {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.6rem;
}
