.label {
  font-size: 1.4rem;
  font-weight: bold;
  height: max-content;
}

.syncButton {
  height: max-content;
  width: max-content;
  font-size: 1.5rem;
  color: var(--color-black);
  border: none;
  border-radius: 8px;
  background: transparent;
  align-self: end;
}

.syncIcon {
  font-size: 3rem;
  color: var(--color-primary);
  align-self: center;
}

.syncIcon:hover {
  color: #45a049;
  cursor: pointer;
}

.spinner {
  width: 1.6rem;
  height: 1.6rem;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #4caf50;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
