.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Poppins', sans-serif;
  color: var(--color-text);
  width: max-content;
  line-height: 1;
}

.h1 {
  margin: 0 0 2rem 0;
}

.h4 {
  margin: 0 0 4rem 0;
  color: var(--color-white);
}

.h6 {
  margin: 0 0 2rem 0;
  font-weight: normal;
  text-transform: uppercase;
}
