.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--color-text);
  width: max-content;
  line-height: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.h6 {
  font-weight: normal;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .h1 {
    font-size: 6rem;
  }
}
