.plants {
  padding: 2rem;
  background-color: #FDFDFD;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-area: 5 / 1 / 6 / -1;
}

.h6 {
  margin: 0 0 2rem 0;
  color: #666;
  font-weight: normal;
  text-transform: uppercase;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Poppins", sans-serif;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #4caf50;
  color: #FDFDFD;
  font-size: 1.5rem;
}

.buttonContainer {
  width: 100%;
  display: grid;
  align-items: end;
  margin-top: 2rem;
}