.container {
  position: fixed;
  top: 6rem;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: var(--color-primary);
  padding: var(--spacing-medium);
  box-shadow: var(--box-shadow);
  z-index: 100;
}

.unorderedList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: start;
  margin-bottom: 4rem;
  font-size: 1.6rem;
  color: var(--color-white);
}

.image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-right: var(--spacing-small);
  object-fit: cover;
  margin-bottom: var(--spacing-small);
}

.heading {
  width: 100%;
  justify-content: space-between;
  display: grid;
  grid-auto-flow: column;
}
