.section {
  padding: var(--spacing-medium);
  background-color: #fdfdfd;
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow);
  display: grid;
  grid-area: 3 / 1 / 4 / -1;
}

.buttonContainer {
  width: 100%;
  display: grid;
  align-items: end;
  margin-top: var(--spacing-medium);
}
