.plant {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 4px;
  margin-bottom: 1rem;
  overflow: hidden; /* Prevent content overflow */
}

.name {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.plant p {
  margin: 0.5rem 0;
  color: #555;
}

.plant p strong {
  color: #333;
}