.section {
  padding: var(--spacing-medium);
  background-color: var(--color-white);
  border-radius: var(--border-radius-large);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  grid-area: 2 / 1 / 3 / 6;
  height: max-content;
}

@media (max-width: 1024px) {
  .section {
    grid-area: 3 / 1 / 4 / -1;
  }
}
