.page {
  text-align: center;
  display: grid;
  justify-content: center;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
}

.cards {
  background-color: var(--color-grey);
  padding: 2rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 2rem;
  box-shadow: var(--box-shadow);
}

.card {
  display: block;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  justify-items: center;
  align-items: start;
  align-content: start;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--color-grey);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-small);
  padding: 2rem;
  width: 300px;
  box-shadow: var(--box-shadow);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.cardPrice {
  font-size: 1.8rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.cardFeatures {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.cardFeature {
  display: list-item;
  font-size: 1.6rem;
  color: var(--color-primary);
}

.cardButton {
  align-self: end;
}
