.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconGlobe {
  color: var(--white);
}

.flagIcon {
  width: 20px;
  height: 14px;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}