.searchBar {
  width: 100%;
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow);
  background-color: #fdfdfd;
  padding: 2rem;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin-bottom: 2rem;
}

.content {
  width: 100%;
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow);
  background-color: #fdfdfd;
  padding: 2rem;
}

.weather {
  grid-column: 1/-1;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: var(--spacing-medium);
}

.forecast__day {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: var(--border-radius-large);
  padding: var(--spacing-small);
  text-align: center;
  box-shadow: var(--box-shadow);
}

.weather__icon {
  width: 50px;
  height: 50px;
  margin: 0.5rem 0;
}

